<section class="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="home">Sports Event Auction</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
           
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <header>
      
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
              <div class="carousel-caption">
              
                
        <div class="w3-sidebar w3-bar-block" style="width:25%">
            <div class="profile-card">  
            <div class="caption">
                
            <div class="a">
                 
            <button type="button" class="btn btn-primary active" [routerLink]="['/createTeam']">Open</button>
         
            <h3>Create Team</h3>  
            </div>
            </div>
            </div>
</div>            
<h5>Create Team</h5>
                <p>Create own team for the own players.</p>
              </div>
            </div>


            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
              <div class="carousel-caption">


                  
<div class="profile-card">  
    <div class="caption">
        <div class="b">
            <button type="button" class="btn btn-primary active" [routerLink]="['/createPlayer']">Open</button>
            </div>
            <h3>Create Player</h3>  

    </div>
    </div>
    

                <h5>Create Player</h5>
                <p>Create player for our team.</p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
              
                <div class="carousel-caption">
                
    <div class="profile-card">  
        <div class="caption">
            <div class="c">
                <button type="button" class="btn btn-primary active" [routerLink]="['/ShowTeam']">Open</button>
                </div>
                <h3>Show Team</h3>  
    
        </div>
        </div>

    
        <div class="profile-card">  
            <div class="caption">
               
<div class="d">
    <button type="button" class="btn btn-primary active" [routerLink]="['/ShowPlayer']">Open</button>
                    <h3>Show Player</h3>  
        
            </div>
        </div>
        </div>
                       <h5> Team and Player</h5>
                <p>View for created player and team .</p>
              </div>
            </div>
          </div>


          
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </header>
      
      <!-- Page Content -->
      <section class="py-5">
        <div class="container">
          <h1 class="fw-light">Most trusted Platform for player Auction</h1>
          <p class="lead">Most of the customers are generally satisfied with their purchases !</p>
        </div>
      </section>


