<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="home">Sports Event Auction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        Sports Event Auction
      </span>
    </button>
    <div class="container">
        <button type="button" class="btn btn-primary"  [routerLink]="['/login']">Logout</button>
    </div>    
</nav>

  

<router-outlet></router-outlet>